<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/headers.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportMotos.styles.css" asp-append-version="true" />
    <style>
        .cart-dropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            width: 300px;
            background: #CBCBCB;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 5px;
            z-index: 1000;
        }

        .cart-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

        .cart-items {
            max-height: 300px;
            overflow-y: auto;
        }

        .cart-footer {
            margin-top: 10px;
        }

        #closeCart {
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        .remove-item {
            background: none;
            border: none;
            color: red;
            font-size: 18px;
            cursor: pointer;
            margin-left: 10px;
        }

            .remove-item:hover {
                color: darkred;
            }
    </style>
</head>
<body style="background-color:#D9D9D9">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #323232; width: 100%;">
            <div class="container-fluid">
                <!-- Botão do menu lateral -->
                <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </a>

                <!-- Botão do menu responsivo -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/Imagens/logo.png" alt="O nosso logotipo">
                            </a>
                        </li>
                        <li class="nav-item flex-grow-1 d-flex justify-content-center">
                            <div class="input-group w-50">
                                <form asp-action="Pesquisa" asp-controller="Pesquisa" method="get" class="d-flex" width="355px">
                                    <input type="text" name="termo" class="form-control rounded-pill" placeholder="Pesquisar..." aria-label="Pesquisar" aria-describedby="button-search" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                    <button type="submit" class="btn btn-outline-light rounded-pill" id="button-search"
                                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442 1.398a5.5 5.5 0 1 1 7.778-7.778 5.5 5.5 0 0 1-7.778 7.778z" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <!-- Carrinho Dropdown -->
                    <div id="cartDropdown" class="cart-dropdown">
                        <div class="cart-header">
                            <span>Carrinho</span>
                            <button id="closeCart" onclick="toggleCart()">&times;</button>
                        </div>
                        <hr>
                        <div id="cartItems" class="cart-items">
                            <!-- Produtos serão adicionados dinamicamente aqui -->
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span>
                            <span id="subtotalPrice">€0.00</span>
                        </div>
                        <hr>
                        <div class="total">
                            <span>Total:</span>
                            <span id="totalPrice">€0.00</span>
                        </div>
                        <div class="cart-footer">
                            <button class="btn btn-primary w-100">Ir para a cesta</button>
                        </div>
                    </div>

                    <!-- Ícones de login e carrinho -->
                    <ul class="navbar-nav nav-right d-flex align-items-center">
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name <!-- Nome do usuário logado -->
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" asp-controller="Perfil" asp-action="ShowPerfil">Perfil</a></li>
                                    <li><a class="dropdown-item" asp-controller="RecuperarConta" asp-action="RecuperarSenha">Alterar Senha</a></li>
                                    @{
                                        var tipoUtilizador = User.Claims.FirstOrDefault(c => c.Type == "Tipo_Utilizador")?.Value;
                                    }
                                    @if (tipoUtilizador == "Admin")
                                    {
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a style="color:black" class="dropdown-item fw-bold text-primary" asp-controller="DashBoard" asp-action="Dashboard">Painel de Administração</a></li>
                                    }
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" asp-controller="Login" asp-action="Logout">Sair</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item me-3">
                                <a class="text-white text-decoration-none d-flex align-items-center" asp-controller="Login" asp-action="Login">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                    <span class="ms-1">Iniciar Sessão</span>
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="text-white text-decoration-none d-flex align-items-center" href="#" onclick="toggleCart()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                </svg>
                                <span class="ms-1">O meu carrinho</span>
                                <span id="cartItemCount" class="badge bg-danger ms-2">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header" style="background-color: #323232">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: white">SportMotos</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: #323232">
            <a asp-controller="Anuncio" asp-action="Anuncio" asp-route-tipo="motos" type="button" class="btn btn-outline-light w-100 mb-2">Motos</a>
            <a asp-controller="Anuncio" asp-action="Anuncio" asp-route-tipo="pecas" type="button" class="btn btn-outline-light w-100 mb-2">Peças</a>
            <a asp-controller="Noticia" asp-action="Noticias" type="button" class="btn btn-outline-light w-100 mb-2">Notícias</a>
            <a asp-controller="Foruns" asp-action="Forum" type="button" class="btn btn-outline-light w-100 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chat-dots mb-1" viewBox="0 0 16 16">
                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
                </svg>
                Fórum
            </a>
            <a asp-controller="Contactos" asp-action="Contactos" type="button" class="btn btn-outline-light w-100 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-lines-fill mb-1" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
                </svg>
                Contactos
            </a>
            <button type="button" class="btn btn-outline-light w-100">Termos e Condições</button>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display: flex; align-items: center; justify-content: space-between; padding: 10px; width:100%; height:70px; background-color: #323232; position:absolute;">
        <div class="container" style="color: white; margin-left: 35px">
            Copyright &copy; 2025 SportMotos | Todos os direitos reservados - <a style="color: white; padding-left: 5px" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
            <a style="color: white; padding-left: 15px" asp-area="" asp-controller="Home" asp-action="Privacy">Termos e Condições</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
