<div class="container" style="width: 80%; padding-top: 25px;">
    <h1 id="tc"><b>Termos e Condições</b></h1>
    <p>
        Bem-vindo ao SportMotos. Ao aceder ou utilizar este website, concorda em
        cumprir os seguintes Termos e Condições. Se não concordar com algum destes
        termos, não deverá utilizar o website.
    </p>

    <h2><b>1.Utilização Permitida</b></h2>
    <p>
        Este website é fornecido exclusivamente para fins informativos e
        comerciais. Não é permitido utilizar este website para atividades ilegais
        ou não autorizadas.
    </p>

    <h2><b>2.Propriedade Intelectual</b></h2>
    <p>
        Todos os conteúdos disponibilizados neste website, incluindo textos,
        imagens, logotipos e design, são propriedade de empresas e estão
        protegidos por direitos de autor.
    </p>

    <h2><b>3.Responsabilidades do Utilizador</b></h2>
    <p>
        O utilizador é responsável por fornecer informações corretas ao
        registar-se ou realizar encomendas. A empresa não se responsabiliza por
        problemas decorrentes de informações incorretas fornecidas pelo
        utilizador.
    </p>

    <h2><b>4.Alterações nos Termos</b></h2>
    <p>
        Reservamo-nos o direito de alterar os Termos e Condições a qualquer
        momento. Recomendamos verificar esta página regularmente para se manter
        atualizado.
    </p>

    <p>Última atualização: 23/01/2025.</p>
    <br />
    <hr />
    <br />
    <h1 id="pp"><b>Política de Privacidade</b></h1>
    <p>Última atualização: 31 de janeiro de 2025</p>
    <p>
        Esta Política de Privacidade descreve as nossas políticas e procedimentos
        sobre a coleta, uso e divulgação das suas informações quando você utiliza
        o Serviço e informa sobre seus direitos de privacidade e como a lei
        protege você.
    </p>
    <p>
        Utilizamos os seus Dados Pessoais para fornecer e melhorar o Serviço. Ao
        utilizar o Serviço, você concorda com a coleta e uso das informações de
        acordo com esta Política de Privacidade. Esta Política de Privacidade foi
        criada com a ajuda do
        <a href="https://www.privacypolicies.com/privacy-policy-generator/"
           target="_blank">Gerador de Política de Privacidade</a>.
    </p>
    <h2><b>Interpretação e Definições</b></h2>
    <br>
    <h3>Interpretação</h3>
    <p>
        As palavras cujas iniciais são maiúsculas têm significados definidos sob
        as seguintes condições. As definições a seguir terão o mesmo significado,
        independentemente de aparecerem no singular ou no plural.
    </p>
    <h3>Definições</h3>
    <p>Para os fins desta Política de Privacidade:</p>
    <ul>
        <li>
            <p>
                <strong>Conta</strong> significa uma conta exclusiva criada para você
                acessar nosso Serviço ou partes dele.
            </p>
        </li>
        <li>
            <p>
                <strong>Afiliada</strong> significa uma entidade que controla, é
                controlada por ou está sob controle comum com uma parte, onde
                "controle" significa a posse de 50% ou mais das ações, participações
                ou outros valores mobiliários com direito a voto para eleição de
                diretores ou outra autoridade gerencial.
            </p>
        </li>
        <li>
            <p>
                <strong>Empresa</strong> (referida como "a Empresa", "Nós", "Nos" ou
                "Nosso" neste Acordo) refere-se à SportMotos.
            </p>
        </li>
        <li>
            <p>
                <strong>Cookies</strong> são pequenos arquivos colocados no seu
                computador, dispositivo móvel ou qualquer outro dispositivo por um
                site, contendo detalhes do seu histórico de navegação nesse site,
                entre outros usos.
            </p>
        </li>
        <li>
            <p><strong>País</strong> refere-se a: Portugal</p>
        </li>
        <li>
            <p>
                <strong>Dispositivo</strong> significa qualquer dispositivo que possa
                acessar o Serviço, como um computador, celular ou tablet digital.
            </p>
        </li>
        <li>
            <p>
                <strong>Dados Pessoais</strong> são quaisquer informações relacionadas
                a um indivíduo identificado ou identificável.
            </p>
        </li>
        <li>
            <p><strong>Serviço</strong> refere-se ao Website.</p>
        </li>
        <li>
            <p>
                <strong>Prestador de Serviço</strong> significa qualquer pessoa física
                ou jurídica que processe os dados em nome da Empresa. Refere-se a
                empresas terceirizadas ou indivíduos contratados pela Empresa para
                facilitar o Serviço, fornecer o Serviço em nome da Empresa, realizar
                serviços relacionados ao Serviço ou ajudar a Empresa a analisar como o
                Serviço é utilizado.
            </p>
        </li>
        <li>
            <p>
                <strong>Dados de Uso</strong> referem-se a dados coletados
                automaticamente, gerados pelo uso do Serviço ou pela própria
                infraestrutura do Serviço (por exemplo, a duração de uma visita a uma
                página).
            </p>
        </li>
        <li>
            <p>
                <strong>Website</strong> refere-se a SportMotos, acessível em
                <a href="https://www.sportmotos.pt"
                   rel="external nofollow noopener"
                   target="_blank">https://www.sportmotos.pt</a>
            </p>
        </li>
        <li>
            <p>
                <strong>Você</strong> significa o indivíduo acessando ou utilizando o
                Serviço, ou a empresa ou outra entidade jurídica em nome da qual tal
                indivíduo está acessando ou utilizando o Serviço, conforme aplicável.
            </p>
        </li>
    </ul>
</div>