@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
    <h3 class="mb-3">Informações</h3>
    <div class="row text-center">
        <!-- Horário de Funcionamento -->
        <div class="col-md-3">
            <div class="info-box">
                <h5>Horário de funcionamento</h5>
                <p><strong>Seg. a Sex.:</strong> 9:00 às 18:00</p>
                <p><strong>Sáb.:</strong> 9:00 às 17:00</p>
                <p><strong>Dom.:</strong> Encerrados</p>
            </div>
        </div>

        <!-- Contactos -->
        <div class="col-md-3">
            <div class="info-box">
                <h5>Contactos</h5>
                <p><strong>Tlm:</strong> 922333444</p>
                <p><strong>Tlf:</strong> 232876554</p>
                <p><strong>Email:</strong> sportmotos@gmail.com</p>
            </div>
        </div>

        <!-- Endereço -->
        <div class="col-md-3">
            <div class="info-box">
                <h5>Endereço</h5>
                <p><strong>&lt;&lt;Por definir&gt;&gt;</strong></p>
            </div>
        </div>

        <!-- Orçamento -->
        <div class="col-md-3">
            <div class="info-box highlight-box">
                <h5>Precisa de um Orçamento?</h5>
                <a href="#">Formulário</a>
            </div>
        </div>
    </div>
</div>