@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Orçamento Enviado";
}
<h3>O seu pedido de orçamento foi enviado com sucesso!</h3>
<p>Entraremos em contato em breve com mais detalhes.</p>
<a href="@Url.Action("Contactos", "Contactos")" class="btn btn-secondary">Voltar</a>

