@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Total de Clientes</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TotalClientes</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Total de Usuários</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TotalUsuarios</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Total de Anúncios</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TotalAnuncios</h4>
            </div>
        </div>
    </div>
</div>